<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    {% load static %}
    <link rel="stylesheet" href="/static/img/css/thank.css">
</head>
<body>
    <div class="container text-center">
        <div class="thankyou-message">
            <h1>Thank You!</h1>
            <p>Your purchase was successful.</p>
            <p>We appreciate your business and hope you enjoy your book.</p>
            <a href="{% url 'book_list' %}" class="btn btn-primary">Back to Book List</a>
        </div>
    </div>
</body>
</html>
